<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10">
        <div class="row">
          <div class="col-md-3 offset-md-1 col-sm-3 offset-sm-1">
            <div class="row">
              <a href="" class="footer-link">Sign Up for Our Newsletter</a>
            </div>
            <div class="row mt-4">
              <div class="col">
                <div class="row">
                  <span class="footer-link">Ask Us Anything</span>
                </div>
                <div class="row">
                  <a href="mailto:info@permiasnasional.com" id="footer-email">info@permiasnasional.com</a>
                </div>
              </div>
            </div>
            <div class="row mt-5" id="copyright">
              © 2020 PERMIAS NASIONAL
            </div>
          </div>
          <div class="col-md-7 offset-md-1 col-sm-7 offset-sm-1">
            <div class="row">
              <div class="col-sm-3">
                <div class="row">
                  <a href="" class="footer-link">About</a>
                </div>
                <div class="row">
                  <a href="" class="footer-link">Contact</a>
                </div>
                <div class="row">
                  <a href="" class="footer-link">Donate</a>
                </div>
              </div>
              <div class="col-sm-3 offset-sm-1">
                <div class="row">
                  <a href="" class="footer-link">Instagram</a>
                </div>
                <div class="row">
                  <a href="" class="footer-link">Facebook</a>
                </div>
                <div class="row">
                  <a href="" class="footer-link">LinkedIn</a>
                </div>
                <div class="row">
                  <a href="" class="footer-link">YouTube</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 logo-footer">
        <img id="permias-logo" src="{{ root }}/static/img/logo-white.png" />
      </div>
    </div>
  <div>
</footer>
