<div class="container">
  {% if header == 'light' %}
  <nav class="navbar navbar-expand-lg navbar-lighter fixed-top">
  {% else %}
  <nav class="navbar navbar-expand-lg navbar-default fixed-top">
  {% endif %}
    <a class="navbar-brand" href="/">
      {% if header == 'light' %}
        <img id="header-logo" src="{{ root }}/static/img/logo-red.png" />
      {% else %}
        <img id="header-logo" src="{{ root }}/static/img/logo-white.png" />
      {% endif %}
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 justify-content-end ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Departements
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">PnP Team</a>
            <a class="dropdown-item" href="#">Tech Team</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      {# <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> #}
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fas fa-bars"></i>
      </span>
    </button>
  </nav>
</div>
