---
title: Homepage
layout: base
---
<header id="homepage-header" class="header">
</header>
<div id="homepage-content" class="container-fluid p-0">
  <section id="about">
    <h2>About our community</h2>
    <div class='row justify-content-center m-0'>
      <div class="w-50">
        <p>PERMIAS Nasional, Persatuan Mahasiswa Indonesia di Amerika Serikat, is the national organization of
      Indonesian students in the United States. PERMIAS Nasional provides a platform for members to connect,
      keeps members updated with the most relevant news, and prepares them for their future careers.
        </p>
        <p>PERMIAS Nasional aims to voice the aspirations of members by providing advocacy through academics,
      professional developments, community enrichments, and government relations. Above all, PERMIAS
      Nasional exists to look after, empower, and unify all Indonesians studying in the United States.
        </p>
      </div>
    </div>
    <div class="row justify-content-center stats p-0 ">
      <div class="col-md-2">
        <div class="stat">
          9000+
        </div>
        <div class="stat-caption">
          students in the us
        </div>
      </div>
      <div class="col-md-2 offset-md-1">
        <div class="stat">
          82
        </div>
        <div class="stat-caption">
          chapters
        </div>
      </div>
      <div class="col-md-2 offset-md-1">
        <div class="stat">
          1
        </div>
        <div class="stat-caption">
          home
        </div>
      </div>
    </div>
  </section>
  <section id="content">
  </section>
</div>
